body{
    margin: 0%;
}
.header{
    text-align: center;
    margin-top: 15px;
}
.A{
    text-align: center;
   
}
.A li{
    display: inline;
    list-style-type: disc;
    display: -webkit-inline-flex;
    
}
.B{
    text-align: center;
    margin: 0px;
    margin-right: 10px;
}
