body{
    margin: 0%;
}
.header{
    text-align: center;
    margin-top: 15px;
}
.A{
    text-align: center;
   
}
.A1{
    display: inline;
    list-style-type: disc;
    display: -webkit-inline-flex;    
}
.A1 li{
    text-align: center;
    list-style: none;
    text-align: initial;
    padding: 10px;
    margin: 10px;
    height: 10px;
}
.B{
    text-align: center;
    margin: 0px;
    margin-right: 10px;
}
#B1{
    background-color: black;
    color: azure;
    padding: 12px 28px;
    margin-bottom: 8px;
 }
 #B2{
    background-color: black;
    color: azure;
    padding: 12px 28px;
    margin-bottom: 8px;
 }
 .flex-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
.D{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.G{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.J{
    text-align: center;
}
#J1{
    font-size: 20px;
    padding: 12px 30px;
}