body{

}
.header{
    width:100%;
}
.header1{
    text-align: center;
        
}
.A{
    text-align: center;
   
}
.A1{
  
    list-style-type: none;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 8px;
}
.A1 li{
    text-align: center;
    list-style: none;
    text-align: initial;
    padding: 10px;
    margin: 10px;
    height: 15px;
    display: inline;
}
